*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
    list-style: none;
}

.container{
    max-width: 1200px;
    width:100%;
    margin:0 auto;
}

.middle img{
    width:5%;
    height:4%
} 

.top{
    background-color: #f8f8f8;
}

.item {
    display: flex;
    justify-content: space-between;
    padding:10px 0 ;
}

.item ul {
    
    width: 85%;
}

.item ul li{
    display: inline-block;
    font-size: 10px;
}

.item ul li::after{
    content: "|";
    margin: 10px;
    font-size: 12px;
}

.item ul li:last-child::after{
    visibility: hidden;
}

.icon{
    display: flex;
    width: 15%;
    justify-content: space-between;
    color: #79b530;
}

.middle_wrapper{
    background-color: #fff;
}

.middle{
    display:flex;
    justify-content: space-between;
    padding: 10px 0;
}

.phone{
    padding-left: 2%;
}
.full_contact{
    display:flex;
    justify-content: space-between;
    width:50%;
    margin-top: 5px;
    font-size: 12px;
}
.contact{
    display: flex;
    padding-left:35%;
}

.contact p{
    margin-top: 2px;
}
.location{
    display: flex;
}
.contact i{
    color: #79b530;
    padding:10px;
    font-size:18px;
}
 .location i{
    color: #79b530;
    padding:10px;
    font-size: 18px; 
}

.location p{
    padding:10px;
}

.btn{
    padding: 10px 20px;
    background-color: transparent;
    border:2px solid #79b530;
    color:#79b530;
    font-weight: 600;
}

.bottom_wrap{
    background-color: #79b530;
    color: #fff;
}

.bottom ul {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
    font-size: 14px;
    font-weight: 500;
}

.background{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('student.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height: calc(100vh - 50px);
    position: relative;
    
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}

.content p{
    font-size: 18px;
    line-height: 2rem;
}

.background .btn{
    color: #fff;
    border-color: #fff;
    margin: 0 10px;
    margin-top: 25px;   
}

.container .btn:hover{
    background-color: #79b530;
    border-color:#79b530 ;
}

.box{
    padding:25px ;
    color: #fff;
    width: 25%;
}

.box1{
    background-color: #4886ff;
}

.box2{
    background-color: #ff6f6f;
}

.box3{
    background-color: #b5d56a;
}

.box4{
    background-color: #fa8147;
}
.card{
    display: flex;
    position: absolute;
    text-align: center;
    background-color: #fff;
    top: 100%;
    left: 5.5%;
    width: 89%;
}
